/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Style de la navigation */
#nav {
    text-align: center;
    margin-bottom: 20px;
}

#nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Style des sections */
.panel {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.panel header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.panel h3 {
    font-size: 18px;
    margin-top: 15px;
}

.panel ul {
    list-style-type: none;
    padding: 0;
}

.panel ul li {
    margin-bottom: 5px;
}

.panel ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.panel ul li a:hover {
    color: #007bff;
}
.slide1 li {
    margin-top: 10px; 
}

  
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    margin-top: 0;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(41, 182, 217);
  }
  .item {
    margin-bottom: 5px;
    display: none;
  }
  .slide1 a {
    color: rgb(70, 84, 106); /* Remplacez YourColorHere par le code de couleur que vous souhaitez */
  }
  .slide1 a {
    color: rgb(99, 116, 130); /* Remplacez YourColorHere par le code de couleur que vous souhaitez */
    font-family: Arial, sans-serif; /* Changer la police du texte */
    font-weight: bold; /* Mettre le texte en gras */
  }
  h1 {
    font-family: 'Playfair Display', serif; /* Police Playfair Display */
    font-size: 36px; /* Taille de la police */
    color: rgb(32, 141, 218); /* Couleur du titre */
    text-align: center; /* Centrer le titre */
    margin-top: 20px; /* Espacement au-dessus du titre */
    margin-bottom: 20px; /* Espacement en dessous du titre */
  }

 /* Appliquez la couleur du texte personnalisée */
 .slide1 a {
    color: rgb(99, 116, 130); /* Couleur du texte */
    font-family: Arial, sans-serif; /* Changer la police du texte */
    font-weight: bold; /* Mettre le texte en gras */
    text-decoration: none; /* Enlever le soulignement du lien */
    position: relative;
  }

  /* Style du point devant le lien */
  .slide1 a::before {
    content: "\2022"; /* Utilisation du caractère unicode du point (•) */
    color: rgb(32, 141, 218); /* Couleur du point */
    position: absolute;
    left: -15px; /* Ajustement de la position du point */
  }
